.principal{
    background-color: $color-fondo;
    grid-area: main;

    .hero{
        background-image: url("../img/remeramujerr.jpg");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
        height: 750px;

        div{
            color: $color-secundario;
            width: 100%;
            height: 100%;
            h2{
                font-size: nth($font-size, 1);
                margin-bottom: 10px;

            }

            p{
                font-size: nth($font-size, 2);
                margin-bottom: 16px;

            }

            a{
                font-size: nth($font-size, 3);
                background-color: $color-fondo;
                text-decoration: none;
                color: $color-secundario;
                border: 3px solid $color-secundario;
                padding: 11px;

            }
        }
    }
}

.titulo-galeria{
    font-size: nth($font-size, 3);
    background-color: $color-fondo;
    height: 300px;
    color: $color-secundario;

    h2{
        border: 3px solid $color-secundario;
        padding: 17px;

    }
}

.galeria{


    .contenedor-galeria{
        background-color: $color-fondo;
        height: 600px;
        div{
            img{
                border: 3px solid $color-terciario;
                margin: 30px;
                width: 450;
                height: 450px;
                box-shadow: 3px 3px 25px 17px rgba(100,100,100,0.74);
                -webkit-box-shadow: 3px 3px 25px 17px rgba(100,100,100,0.74);
                -moz-box-shadow: 3px 3px 25px 17px rgba(100,100,100,0.74);
                transition: 2s;
                &:hover{
                    transform: scale(1.1);
                }
            }

        }

    }
}

.titulo-productos{
    font-size: nth($font-size, 3);
    background-color: $color-fondo;
    height: 300px;
    color: $color-secundario;

    h2{
        border: 3px solid $color-secundario;
        padding: 17px;

    }
}

.productos{
    background-image: url("../img/fondocerca.jpg");
    background-position: unset;
    background-size: cover;
    height: 700px;

    div{
        font-size: nth($font-size, 5);
        border: 4px solid $color-terciario;
        background-color: $color-fondo;
        width: 259px;
        height: 350px;
        margin: 30px;
        text-align: center;
        box-shadow: 3px 3px 25px 17px rgba(100,100,100,0.74);
        -webkit-box-shadow: 3px 3px 25px 17px rgba(100,100,100,0.74);
        -moz-box-shadow: 3px 3px 25px 17px rgba(100,100,100,0.74);
        transition: 2s;
        &:hover{
            transform: scale(1.1);
        }
        img{
            width: 250;
            height: 250px;
            margin-bottom: 14px;
        }

        p{
            margin-bottom: 18px;
        }

        a{
            text-decoration: none;
            color: $color-secundario;
        }
    }
}

.ofertas{
    background-color: $color-fondo;
    height: auto;

    h2{
        margin-top: 5px;
        padding: 5px;
        color: $color-secundario;
    }
}

.carrusel{
    background-color: $color-fondo;


    div{

        img{
            width: 100%;
            height: 550px;

        }
    }
}

.iniciar-sesion{
    font-size: nth($font-size, 1);
    background-image: url("../img/fondocerca.jpg");
    background-position: unset;
    background-size: cover;
    height: 700px;
    
    div{
        font-size: nth($font-size, 4);
        margin-bottom: 20px;

    }

    a{
        font-size: nth($font-size, 2);
        background-color: $color-fondo;
        text-decoration: none;
        color: $color-secundario;
        border: 3px solid $color-secundario;
        padding: 11px;
    }
}

