@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Bebas Neue', cursive;
    color: white
}

.grid-contenedor{
    width: 100%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: 72px 60px auto 140px;
    grid-template-areas:
    "header header header"
    "nav nav nav"
    "main main main"
    "footer footer footer"
    ;
}